.footer {
  width: 100%;
  margin-bottom: 200px;

  &__btn {
    display: flex;
    width: 462px;
    background-color: var(--color-brand-yellow);
    text-align: center;
    border-radius: 50px;
    height: 110px;
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 130%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
