.dark {
  display: block;
  width: 100%;
  background-color: black;

  &__content {
    padding: 100px 0 200px;
    margin: 0 auto;
    max-width: 1230px;
  }

  &__title {
    text-align: center;
    color: var(--color-gray-1);
  }

  &__images {
    padding: 120px 0 0 0;
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 60px 0 rgb(255 255 255 / 9%);
    margin: 120px;
    background-color: var(--color-gray-10);

    img {
      border-radius: 20px;
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 990px) {
  .dark {
    &__images {
      flex-direction: column;
    }

    &__image {
      margin: 60px auto;
      width: 50%;
    }
  }
}
