<section class="analytics">
  <div class="analytics__content">
    <div class="analytics__container">
      <h2 class="analytics__title">Понятная аналитика</h2>
      <div class="analytics__images">
        <div class="analytics__image">
          <img src="./img/analytics-1.jpg" alt="Аналитика баланса в приложении Денежки">
        </div>
        <div class="analytics__image">
          <img src="./img/analytics-2.jpg" alt="Аналитика расходов в приложении Денежки">
        </div>
      </div>
    </div>
  </div>
</section>