<section class="features">
  <div class="features__content">
    <div class="features__container">
      <h2 class="features__title">Три причины пользоваться</h2>
      <ul class="features__list list-reset">
        <li>
          <div class="features__image" id="features__lottie-first"></div>
          <h3 class="features__subtitle">Удобство</h3>
          <p class="features__desc">Простой, понятный и аккуратный интерфейс</p>
        </li>
        <li>
          <div class="features__image" id="features__lottie-second"></div>
          <h3 class="features__subtitle">Открытость</h3>
          <p class="features__desc">Открытый <a href="https://github.com/nblackninja/expense-tracker"
              target="_blank">исходный код</a>. Бесплатно и без подписок.</p>
        </li>
        <li>
          <div class="features__image" id="features__lottie-third"></div>
          <h3 class="features__subtitle">Синхронизация</h3>
          <p class="features__desc">Доступ с нескольких устройств одновременно</p>
        </li>
      </ul>
    </div>
  </div>
</section>