<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>@@title-site</title>

<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">

<meta name="description" content="@@meta.description">
<meta name="keywords" content="@@meta.keywords">

@@include('favicon.html')

<meta name="author" content="Никита Юдин">
<link rel="me" href="mailto:nikitayudin782@gmail.com">

<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/vendor.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
