<section class="statistic">
  <div class="statistic__content">
    <div class="statistic__container">
      <h2 class="statistic__title subtitle">Понятная аналитика</h2>
      <div class="statistic__images">
        <div class="statistic__image">
          <img src="./img/statistic-1.jpg" alt="Статистика баланса в приложении Денежки">
        </div>
        <div class="statistic__image">
          <img src="./img/statistic-2.jpg" alt="Статистика расходов в приложении Денежки">
        </div>
      </div>
    </div>
  </div>
</section>