<section class="dark">
  <div class="dark__content">
    <div class="dark__container">
      <h2 class="dark__title subtitle wow animate__animated animate__fadeInUp">
        <intl-message label="dark.title"></intl-message>
      </h2>
      <div class="dark__images wow animate__animated animate__fadeInUp">
        <div class="dark__image">
          <img src="./img/dark-2.jpg" alt="Главный экран в ночной теме Денежки" width="375" height="812">
        </div>
        <div class="dark__image">
          <img src="./img/dark-1.jpg" alt="Операции в ночной теме Денежки" width="375" height="812">
        </div>
      </div>
    </div>
  </div>
</section>