<section class="features">
  <div class="features__content">
    <div class="features__container">
      <h2 class="features__title subtitle wow animate__animated animate__fadeInUp">
        <intl-message label="features.title"></intl-message>
      </h2>
      <ul class="features__list list-reset wow animate__animated animate__fadeInUp">
        <li>
          <div class="features__image" id="features__lottie-first"></div>
          <h3 class="features__subtitle">
            <intl-message label="features.first.title"></intl-message>
          </h3>
          <p class="features__desc">
            <intl-message label="features.first.desc"></intl-message>
          </p>
        </li>
        <li>
          <div class="features__image" id="features__lottie-second"></div>
          <h3 class="features__subtitle">
            <intl-message label="features.second.title"></intl-message>
          </h3>
          <p class="features__desc">
            <intl-message label="features.second.desc"></intl-message>
          </p>
        </li>
        <li>
          <div class="features__image" id="features__lottie-third"></div>
          <h3 class="features__subtitle">
            <intl-message label="features.third.title"></intl-message>
          </h3>
          <p class="features__desc">
            <intl-message label="features.third.desc"></intl-message>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>