<section class="hero">
  <div class="hero__content">
    <div class="hero__container">
      <div class="text-anim-wrapper scroll-container">
        <h1 class="hero__title wow animate__animated animate__fadeInUp">
          <intl-message label="hero.title"></intl-message>
        </h1>
      </div>
      <div class="hero__images wow animate__animated animate__fadeInUp">
        <div class="hero__image">
          <img src="./img/hero-1.jpg" alt="Главный экран приложения Денежки" width="375" height="812">
        </div>
        <div class="hero__image">
          <img src="./img/hero-2.jpg" alt="Операции в приложении Денежки" width="375" height="812">
        </div>
      </div>
    </div>
  </div>
</section>
