<section class="hero">
  <div class="hero__content">
    <div class="hero__container">
      <div class="text-anim-wrapper scroll-container">
        <h1 class="hero__title wow animate__animated animate__fadeInUp">Простой инструмент для учета расходов и доходов</h1>
      </div>
      <div class="hero__images wow animate__animated animate__fadeInUp">
        <div class="hero__image">
          <img src="./img/hero-1.jpg" alt="Главный экран приложения Денежки">
        </div>
        <div class="hero__image">
          <img src="./img/hero-2.jpg" alt="Операции в приложении Денежки">
        </div>
      </div>
    </div>
  </div>
</section>