<section class="statistic">
  <div class="statistic__content">
    <div class="statistic__container">
      <h2 class="statistic__title subtitle wow animate__animated animate__fadeInUp">Понятная аналитика</h2>
      <div class="statistic__images wow animate__animated animate__fadeInUp">
        <div class="statistic__image">
          <img src="./img/statistic-1.jpg" alt="Статистика баланса в приложении Денежки" width="375" height="812">
        </div>
        <div class="statistic__image">
          <img src="./img/statistic-2.jpg" alt="Статистика расходов в приложении Денежки" width="375" height="812">
        </div>
      </div>
    </div>
  </div>
</section>