html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 160%;
  background-color: var(--color-white);
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 600;
  line-height: 120%;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip-path: inset(100%);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-weight: 600;
  font-size: 80px;
  line-height: 120%;
}

@media (max-width: 1400px) {
  .subtitle {
    font-size: 70px;
  }
}

@media (max-width: 960px) {
  .subtitle {
    font-size: 50px;
  }
}

@media (max-width: 640px) {
  .subtitle {
    font-size: 40px;
  }
}
